html
  box-sizing: border-box
  font-size: 16px
  font-size: 62.5%

*
  box-sizing: border-box
  &:before
    box-sizing: border-box
  &:after 
    box-sizing: border-box

a
  &:link, &:visited 
      color: #111
      text-decoration: none
      transition: 1s ease
  &:hover, &:active
      
      transition: 1s ease

.mobile-menu 
  display: flex
  @media (min-width: 768px)
    display: none

.desktop-nav
  display: none
  @media (min-width: 768px)
    display: flex